.container-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/fondoHome.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 488px;
  opacity: 1;
  position: relative;
}
