.inline {
    display: inline-block;
}
.Flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flexbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.redesSociales{
    font-size: 13px;
}